.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 25px;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #083723;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-primary, .btn-danger {
    background-color: #083723;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-danger:hover {
    background-color: #065a3e;
}

.btn-danger {
    background-color: #db4437;
}

.btn-danger:hover {
    background-color: #b73226;
}

.auth-buttons a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.auth-buttons .btn {
    margin-left: 10px;
}
